<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/slalom-logo.png" height="36px">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <h3>Welcome! Select your drink preference below.</h3>
  </ion-item>

  <ion-item>
    <ion-label>Drink Choice</ion-label>
    <ion-select okText="Okay" cancelText="Dismiss" (ionChange)="takePicture($event)" [(ngModel)]="drinkOrder">
      <ion-select-option disabled value="select">Select...</ion-select-option>
      <ion-select-option *ngFor="let drink of drinks" [value]="drink.value">{{drink.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <div class="image-area flex flex-col">
      <img src="assets/rekog.png">
      <img src="assets/clt.jpg" class="image-main">
  </div>

</ion-content>